__pycache__
._*
*.pyc
*DS_Store*

# Data files.
*.npy
*.h5
*.root
*.out

# Ouput
trained_aes/
models/
trained_vqcs/
trained_qsvms/

# Logs
logs/
*.log

# Packaging artifacts
ae_qml.egg-info
ae_qml.dist-info
build/
dist/
pip-wheel-metadata/
.eggs
