__pycache__
._*
*.pyc
*DS_Store*
.vscode/

# Ouput
trained_aes/
trained_vqcs/
trained_qsvms/
trained_nns/

# Logs
logs/
*.log
*.out

# Slurm submit files.
*_slurm_*

# Packaging artifacts
ae_qml.egg-info
ae_qml.dist-info
build/
dist/
pip-wheel-metadata/
.eggs

# Private configs.
private_config_*.json
